# Importation de biblio

In [8]:
import pandas as pd
import numpy as np
import os
import sys

# Cr√©ation du DataFrame

In [9]:
data = {
    'Pays': ['A', 'B', 'C', 'D'],
    'IDE': [300, 450, 950, 700],
    'Croissance': [2, 2, 8, 7],
    'Inflation': [6, 4, 2, 5]
}
df = pd.DataFrame(data)
df.set_index('Pays', inplace=True)
df

      IDE  Croissance  Inflation
Pays
A     300           2          6
B     450           2          4
C     950           8          2
D     700           7          5

# Q1 Moyenne et √©cart-type des variables

In [10]:
moyenne = df.mean()
ecart_type = df.std(ddof=1)
print("üéØ Moyennes :\n", moyenne)
print("\nüìè √âcarts-types :\n", ecart_type)

üéØ Moyennes :
 IDE           600.00
Croissance      4.75
Inflation       4.25
dtype: float64

üìè √âcarts-types :
 IDE           285.773803
Croissance      3.201562
Inflation       1.707825
dtype: float64

In [11]:
# üìå Cellule 4 : Matrice centr√©e r√©duite (Z)
Z = (df - moyenne) / ecart_type
Z

           IDE  Croissance  Inflation
Pays
A    -1.049781   -0.858956   1.024695
B    -0.524891   -0.858956  -0.146385
C     1.224745    1.015129  -1.317465
D     0.349927    0.702782   0.439155